.table {
  width: auto;
}

.listWrapper {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.head {
  & .cell {
    padding: 12px;
    padding-top: 0;
  }
}
